---
import Layout from '../layouts/Layout.astro';
import InteriorHeader from '../components/InteriorHeader.astro';
import DonateCta from '../components/DonateCta.astro';
---

<Layout>
	<InteriorHeader
		title="Families We Help"
		body="Discover how our community has come together to make a difference for families in need."
	/>

	<div class="container-inner">
		<h2>Families.</h2>
	</div>

	<DonateCta />
</Layout>