---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Hero />

	<main>
		<div class="container-inner">
			<h1>Main body</h1>
		</div>
	</main>

	<Footer />
</Layout>

<style>
	main {
		padding: 20px;
	}
</style>