<div class="wrap">
  <div class="container-inner">
    <div class="main">
      <div class="content">
        <h2>In loving memory of Billy Fitzgibbons.</h2>

        <p class="text-medium">
          Billy was one of a kind. From a young age he had to battle illnesses but NEVER said or complained "poor me." He always looked at the positives and would often say that someone had it worse than him. He wanted to live and be healthy and fought so hard for that. He lived life to the fullest, his favorite saying, "GO BIG OR GO HOME!".
        </p>

        <p class="text-medium">
          He was so much more than the sickness that often defined him. He was a great son, I'm sure in so many ways my parents' easiest child. Amazing, selfless brother who would've killed for his sisters. Fun loving, loyal cousin who thought of them as brothers and sisters and true friends. Loyal loving friend who was so easy to be around and having their backs until the end. One of his favorite titles was uncle and damn was he a good one! Even though they lost him so young, I think they'll never forget him, especially his laugh and generosity.
        </p>

        <p class="text-medium">
          We believe this event is not only to honor him, but also what a true testament of his character. He was loved by so many and they all know how much this would've meant to him to help someone in need. He LOVED this neighborhood and the people in it and we know he would be saying, this is why we live here, best people in the neighborhood! He would be so proud of this!
        </p>
      </div>

      <div class="image-wrap">
        <img
          class="image"
          src="https://happy-code.imgix.net/bill-fitz.jpg?w=1000&h=1000&fit=crop&crop=top"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .wrap {
    padding: 72px 20px;
  }

  h2 {
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 40px;
  }

  .content {
    max-width: 500px;
    order: 0;
  }

  .main {
    display: grid;
    gap: 24px;
  }

  .image {
    width: 100%;
    max-width: 498px;
    border-radius: 20px;
  }

  .image-wrap {
    order: 1;
  }

  @media (min-width: 1000px) {
    .main {
      grid-template-columns: 498px 1fr;
      gap: 112px;
    }

    .content {
      max-width: 100%;
      order: 1;
    }

    .image-wrap {
      order: 0;
    }
  }
</style>