---
import ArrowButton from './ArrowButton.astro';
import HeadingLabel from './HeadingLabel.astro';
import ResponsiveImage from './ResponsiveImage.astro';
---

<div class="wrap">
  <div class="container-inner">
    <div class="main">
      <div class="content">
        <HeadingLabel text="Families We've Helped" />

        <h2>We have provided assistance to more than 10 local families this year.</h2>

        <p class="text-medium">
          Friends for Fitz provides support to local families facing unexpected challenges. With the generosity of our community, we are able to step in and offer assistance during difficult times. Each family we help reflects our mission to bring stability and hope to those in need, and we are proud to make a difference, one family at a time.
        </p>

        <ArrowButton text="Read the Higgins Family Story" href="/families" />
      </div>

      <div class="image-wrap">
        <ResponsiveImage src="https://happy-code.imgix.net/higgins-fam.jpg" />
      </div>
    </div>
  </div>
</div>

<style>
  .wrap {
    padding: 72px 20px;
  }

  h2 {
    margin: 40px 0 12px;
  }

  p {
    margin-bottom: 40px;
  }

  .content {
    max-width: 500px;
    order: 0;
  }

  .main {
    display: grid;
    gap: 72px;
  }

  .image-wrap :global(img) {
    width: 100%;
    max-width: 498px;
    border-radius: 20px;
  }

  .image-wrap {
    order: 1;
  }

  @media (min-width: 1000px) {
    .main {
      grid-template-columns: 498px 1fr;
      align-items: center;
      gap: 112px;
    }

    .content {
      max-width: 100%;
      order: 1;
    }

    .image-wrap {
      display: flex;
      order: 0;
    }
  }
</style>