---
import ArrowButton from './ArrowButton.astro';
import HeadingLabel from './HeadingLabel.astro';
import ResponsiveImage from './ResponsiveImage.astro';
---

<div class="wrap">
  <div class="container-inner">
    <div class="main">
      <div class="content">
        <HeadingLabel text="Who We Are" />

        <h2>We are a nonprofit created in memory of Bill Fitzgibbons.</h2>

        <p class="text-medium">
          Established by friends and family, the nonprofit is dedicated to supporting local families facing hardships by providing various forms of assistance. Through events like our annual summer festival, we raise funds to make a positive impact in the lives of families who could use a helping hand.
        </p>

        <ArrowButton text="Friends for Fitz Fest 2025" href="/events" />
      </div>

      <div class="image-wrap">
        <ResponsiveImage src="https://happy-code.imgix.net/fitz-sibs.jpg" />
      </div>
    </div>
  </div>
</div>

<style>
  .wrap {
    padding: 72px 20px;
  }

  h2 {
    margin: 40px 0 12px;
  }

  p {
    margin-bottom: 40px;
  }

  .content {
    max-width: 500px;
  }

  .main {
    display: grid;
    gap: 72px;
  }

  .image-wrap :global(img) {
    width: 100%;
    max-width: 498px;
    border-radius: 20px;
  }

  @media (min-width: 1000px) {
    .main {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 72px;
    }

    .content {
      max-width: 100%;
    }

    .image-wrap {
      display: flex;
      justify-content: flex-end;
    }
  }
</style>