<div>
  <p class="text-medium">Your message has been submitted. Thank you!</p>
</div>

<style>
  div {
    background: var(--color-green-pale);
    border-radius: 20px;
    padding: 24px;
  }

  p {
    font-weight: 700;
  }
</style>