<div class="wrap">
  <div class="container-inner">
    <div class="header">
      <h2>Friends for Fitz 2024 Gallery</h2>

      <p class="text-medium">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero dicta quibusdam aliquid quam amet quaerat rerum excepturi consequatur? Quam enim fuga minima autem totam fugit, temporibus amet eius magni non!
      </p>
    </div>

    <div class="grid">
      <div>
        <a href="https://happy-code.imgix.net/IMG_5539.JPEG?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_5539.JPEG?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

      <div>
        <a href="https://happy-code.imgix.net/IMG_5528.JPEG?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_5528.JPEG?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

      <div>
        <a href="https://happy-code.imgix.net/IMG_5245.jpg?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_5245.jpg?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

      <div>
        <a href="https://happy-code.imgix.net/IMG_5511.JPEG?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_5511.JPEG?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

      <div>
        <a href="https://happy-code.imgix.net/IMG_5246.jpg?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_5246.jpg?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

      <div>
        <a href="https://happy-code.imgix.net/IMG_5244.jpg?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_5244.jpg?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

      <div>
        <a href="https://happy-code.imgix.net/IMG_5229.JPEG?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_5229.JPEG?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

      <div>
        <a href="https://happy-code.imgix.net/IMG_4881.JPEG?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_4881.JPEG?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

      <div>
        <a href="https://happy-code.imgix.net/IMG_4887.JPEG?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_4887.JPEG?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

      <div>
        <a href="https://happy-code.imgix.net/IMG_1344.jpg?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_1344.jpg?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

      <div>
        <a href="https://happy-code.imgix.net/IMG_1244.jpg?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_1244.jpg?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

      <div>
        <a href="https://happy-code.imgix.net/IMG_1241.jpg?auto=format,compress" data-lightbox="gallery">
          <img src="https://happy-code.imgix.net/IMG_1241.jpg?auto=format,compress&w=300&h=300&fit=crop" alt="">
        </a>
      </div>

    </div>
  </div>
</div>

<style>
  h2 {
    margin-bottom: 24px;
  }

  .wrap {
    padding: 72px 20px;
  }

  .header {
    max-width: 600px;
    margin-bottom: 72px;
  }

  .grid {
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .grid div {
    /* width: 174px; */
    /* height: 174px; */
    /* background: #ccc;
    background-size: cover;
    background-position: center center; */
  }

  .grid a {
    /* display: flex;
    height: 100%; */
  }

  .grid img {
    max-width: 174px;
  }
</style>