---
import EventsGalleryItem from './EventsGalleryItem.astro';
---

<div class="wrap">
  <div class="container-inner">
    <div class="header">
      <h2>Friends for Fitz 2024 Gallery</h2>

      <p class="text-medium">
        Take a look at highlights from Friends for Fitz Fest 2024! These moments capture the fun, community spirit, and generosity that made last year's event unforgettable.
      </p>
    </div>

    <div class="grid">
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_5539.JPEG" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_5528.JPEG" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_5245.jpg" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_5511.JPEG" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_5246.jpg" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_5244.jpg" />

      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_5229.JPEG" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_4881.JPEG" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_4887.JPEG" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_1344.jpg" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_1244.jpg" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_1241.jpg" />

      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_1250.jpg" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_1333.jpg" />
      <EventsGalleryItem src="https://happy-code.imgix.net/fitz-fest.jpg" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_1247.jpg" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_1251.jpg" />
      <EventsGalleryItem src="https://happy-code.imgix.net/IMG_1263.jpg" />
    </div>
  </div>
</div>

<style>
  h2 {
    margin-bottom: 24px;
  }

  .wrap {
    padding: 72px 20px;
    background-color: #f9f9f9;
  }

  .header {
    max-width: 600px;
    margin-bottom: 72px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
</style>