---
import ResponsiveImage from "./ResponsiveImage.astro"
---

<div class="wrap">
  <div class="container-inner">
    <div class="main">
      <div class="content">
        <h2>The Higgins Family Story.</h2>

        <p class="text-medium">
          Last year, a large portion of the proceeds from Friends for Fitz Fest was dedicated to helping the Higgins family during a difficult time.
          Thanks to the generosity of our community, we were able to provide essential financial assistance, allowing them to focus on relief and stability.
          The Higgins family shared the impact of this support in their own words below.
        </p>

        <div class="quote">
          <p class="text-medium">
            "We were literally moved to tears upon finding out that you chose our family to be
            the recipients of Billy's first annual Friends for Fitz Celebration of Life Event.
            We hope we can rise up to the challenge of making Billy and your family proud.
            Billy was one of my best friends. We were actually together at a party the night I
            first met Amy. Fast forward 10 years and Billy was there to watch Wrestlemania with
            my son and I. Fast forward another five years and Billy was one of the first people
            who knew Amy needed a wheelchair and that she was very self conscious about it.
            In true Billy fashion, he said. "I can go out with you guys and I'll tell anyone who
            stares to go f*ck themselves. He knew what it was like to live in a body that felt
            like it had given up on you.
          </p>

          <p class="text-medium">
            These past few years have been extremely rough on me,
            Amy, our kids, our parents, etc... You know first hand how an unexpected health
            diagnosis can effect a family. This is not how we expected life to go. In some ways
            it has brought us closer together, but it is also heartbreaking to grieve the life we
            used to have. We have been blessed with overwhelming love and support from our extended
            Mt Greenwood and St. Christina families. This is, indeed, a very special and unique
            place to live. Generation after generation all intertwined by family, friends, jobs,
            and tall tales. Year after year, we have seen and participated in benefits for people
            within this community. We never thought we'd be on the receiving end of one of these
            benefits. This is not something any family ever wants or plans will happen to them,
            but we are so honored to be part of the Mt Greenwood family and the Fitzgibbons family."
          </p>

          <p class="text-medium">
            - The Higgins Family
          </p>
        </div>
      </div>

      <div class="image-wrap">
        <ResponsiveImage src="https://happy-code.imgix.net/higgins-fam.jpg" />
      </div>
    </div>
  </div>
</div>

<style>
  h2 {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 24px;
  }

  .wrap {
    padding: 72px 20px;
  }

  .image-wrap :global(img) {
    border-radius: 20px;
    max-width: 100%;
  }

  .content {
    max-width: 600px;
  }

  .main {
    display: grid;
    gap: 40px;
  }

  .quote {
    background: #f9f9f9;
    padding: 32px;
    border-radius: 20px;
  }

  @media (min-width: 1000px) {
    .image-wrap {
      display: block;
      text-align: right;
    }

    .main {
      grid-template-columns: 1.5fr 1fr;
      gap: 64px;
    }
  }

</style>