---
import SupportButton from "./SupportButton.astro";
import Button from "./Button.astro";
import ImageGrid from "../images/pic-hero-grid.png";
---

<div class="outer">
  <div class="container-inner main">
    <div class="content">
      <h1>Friends for Fitz provides help to families in need.</h1>

      <p class="text-large">
        Every family deserves support in difficult times. Together, we can bring relief to families in our community.
      </p>

      <div class="actions">
        <SupportButton />
        <Button text="Contact Us" href="/contact" />
      </div>
    </div>

    <div class="image-grid">
      <img src={ImageGrid.src} alt="">
    </div>
  </div>
</div>

<style>
  h1 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 24px;
  }

  .outer {
    background-color: var(--color-green-pale);
    padding: 44px 20px;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .image-grid {
    display: none;
  }

  .content {
    max-width: 500px;
  }

  @media (min-width: 1000px) {
    h1 {
      margin-bottom: 8px;
    }

    p {
      max-width: 600px;
    }

    .actions {
      flex-direction: row;
      margin-top: 54px;
    }

    .main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 32px;
    }

    .image-grid {
      display: block;
    }

    img {
      width: 100%;
    }
  }
</style>