---
const { title, body } = Astro.props;
---

<div class="wrap">
  <div class="container-inner">
    <div class="main">
      <h1>{title}</h1>

      <p class="text-medium">{body}</p>
    </div>
  </div>
</div>

<style>
  .wrap {
    background-color: var(--color-green-pale);
    padding: 76px 20px;
  }

  .main {
    max-width: 800px;
  }

  h1 {
    margin-bottom: 16px;
  }
</style>