---
import LogoBlack from "../images/logo-black.png";
---

<a href="/">
  <img src={LogoBlack.src} alt="">

  <span>Friends for Fitz</span>
</a>

<style>
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }

  img {
    width: 32px;
  }

  span {
    color: var(--color-black);
    font-family: Grenze;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
  }
</style>