---
import SupportButton from "./SupportButton.astro";
---

<nav x-show="menu" x-cloak>
  <a href="/about">About</a>
  <a href="/families">Families We Help</a>
  <a href="/events">Events</a>
  <a href="/contact">Contact</a>
  <span><SupportButton /></span>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    border-bottom: solid 2px var(--color-gray-light);
  }

  a {
    color: var(--color-black);
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
    padding: 14px 0;
  }

  span {
    padding-top: 14px;
  }
</style>