---
import SupportButton from "./SupportButton.astro";

const pathname = new URL(Astro.request.url).pathname;
let currentPath = pathname.slice(1);

if (currentPath.endsWith('/')) {
  currentPath = currentPath.slice(0, -1);
}
---

<nav>
  <a href="/about" class:list={[{active: currentPath == 'about'}]}>
    About
  </a>

  <a href="/families" class:list={[{active: currentPath == 'families'}]}>
    Families We Help
  </a>

  <a href="/events" class:list={[{active: currentPath == 'events'}]}>
    Events
  </a>

  <a href="/contact" class:list={[{active: currentPath == 'contact'}]}>
    Contact
  </a>

  <span><SupportButton /></span>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    padding-top: 3px;
    gap: 20px;
  }

  a {
    color: var(--color-black);
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
    padding: 14px 0;
    border-bottom: solid 2px transparent;
  }

  a:hover, a.active {
    border-bottom-color: var(--color-black);
  }

  span {
    padding-left: 20px;
  }

  @media (max-width: 1000px) {
    nav {
      display: none;
    }
  }
</style>