---
const { title } = Astro.props;

import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LogoBlack from "../images/logo-black.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={LogoBlack.src} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grenze:wght@600&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="//unpkg.com/alpinejs" defer></script>
    <script defer data-domain="friends4fitz.com" src="https://plausible.io/js/script.js"></script>
    <title>Friends for Fitz | {title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>